:root {
  --ff-inter: "Inter", sans-serif;
  --black: #101828;
  --gray: #667085;
  --gray100: #eaecf0;
  --gray200: #d0d5dd;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--ff-inter);
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: var(--black);
}

@media screen and (min-width: 768px) {
  body {
    font-size: 18px;
    line-height: 28px;
  }
}
