:root {
  --ff-inter: "Inter", sans-serif;
  --primary300: #84caff;
  --black: #101828;
  --gray: #667085;
  --gray100: #eaecf0;
  --gray200: #d0d5dd;
  --gray700: #344054;
  --gray600: #475467;
  --gap: 24px;
}

* {
  box-sizing: border-box;
  transition: 0.2s ease-in-out;
}

body {
  font-family: var(--ff-inter);
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: var(--black);
}

@media screen and (min-width: 768px) {
  body {
    font-size: 18px;
    line-height: 28px;
  }
}

.d-grid {
  display: grid;
  gap: var(--gap);
}

.d-flex {
  display: flex;
  gap: var(--gap);
}

@media screen and (min-width: 768px) {
  .d-flex-md {
    display: flex;
    gap: var(--gap);
  }
}
